################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OperationFA/.vs/OperationFA
/.vs
/OperationFA/WebApp/bin/Debug/net8.0
/OperationFA/WebApp/obj
/OperationFA
/OperationFA/EventHubTrigger/EventHubTrigger.csproj
/OperationFA/DotNetAzureServicesCall/Services/ServiceInterface/IBlobService.cs
