################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OperationFA/.vs/OperationFA
/.vs
