################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OperationFA/.vs/OperationFA
/.vs
/OperationFA/WebApp/bin/Debug/net8.0
/OperationFA/WebApp/obj
/OperationFA/.vs/ProjectEvaluation
/obj/
/bin/
obj
bin

/CSharpFundamentals/.vs/CSharpFundamentals/CopilotIndices/17.13.444.19527
/CSharpFundamentals/.vs/ProjectEvaluation
/CSharpFundamentals/.vs/CSharpFundamentals/DesignTimeBuild
/CSharpFundamentals/.vs/CSharpFundamentals/FileContentIndex
/CSharpFundamentals/.vs/CSharpFundamentals/v17
